<!doctype html>
<html>
<head>
  <title>{{ site.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
</head>
<body>
  <header>
    <h1>{{ site }}</h1>
    <p>{{ site.description }}</p>
  </header>

  <section class="meetups">
    <a href="https://pygotham.org">PyGotham</a>
  </section>

  <section class="contacts">
    <dl>
      <dt>Andy Dirnberger
      <dd><a href="mailto:andy@bigapplepy.org">andy@bigapplepy.org</a>

      <dt>Celia La
      <dd><a href="mailto:celia@bigapplepy.org">celia@bigapplepy.org</a>

      <dt>Dan Crosta
      <dd><a href="mailto:dcrosta@bigapplepy.org">dcrosta@bigapplepy.org</a>

      <dt>Jon Banafato
      <dd><a href="mailto:jon@bigapplepy.org">jon@bigapplepy.org</a>

      <dt>Reshama Shaikh
    </dl>
  </section>

  <footer>
    <p>&copy; 2014-2019 Big Apple Py, Inc.</p>
  </footer>
</body>
</html>
