<!doctype html>
<html>
<head>
  <title>Big Apple Py</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
</head>
<body>
  <header>
    <h1>Big Apple Py</h1>
    <p>Proud supporters of open source in New York City.</p>
  </header>

  <section class="meetups">
    <a href="http://nycpython.org">NYC Python</a> &middot;
    <a href="http://learn.nycpython.org">Learn Python NYC</a> &middot;
    <a href="http://flask-nyc.org">Flask-NYC</a> &middot;
    <a href="https://pygotham.org">PyGotham</a>
  </section>

  <section class="contacts">
    <dl>
      <dt>Andy Dirnberger
      <dd><a href="mailto:andy@bigapplepy.org">andy@bigapplepy.org</a>
      <dt>Benjamin Hayes
      <dd><a href="mailto:ben@bigapplepy.org">ben@bigapplepy.org</a>
      <dt>Celia La
      <dd><a href="mailto:celia@bigapplepy.org">celia@bigapplepy.org</a>
      <dt>James Powell
      <dd><a href="mailto:james@bigapplepy.org">james@bigapplepy.org</a>
      <dt>Jerry Meeker
      <dd><a href="mailto:jerry@bigapplepy.org">jerry@bigapplepy.org</a>
      <dt>Jon Banafato
      <dd><a href="mailto:jon@bigapplepy.org">jon@bigapplepy.org</a>
      <dt>Paul Logston
      <dd><a href="mailto:paul@bigapplepy.org">paul@bigapplepy.org</a>
    </dl>
  </section>

  <footer>
    <p>&copy; 2014-2017 Big Apple Py, Inc.</p>
  </footer>
</body>
</html>
